<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>We use this API to verify the integrity and freshness of downloaded content such as product images or data caches. This ensures users see the most up-to-date product information and enhances performance by preventing unnecessary downloads.</string>
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryUserDefaults</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>We use this API to enhance user experience by saving user preferences and session information. This allows our app to maintain user settings, keep users logged in, and provide a more personalized shopping experience.</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
